<template>
  <main>
    <div class="controls" @click.prevent="clicked">
      <button>Refresh</button>
    </div>
    <load-over :loading="loading">
      <div class="items">
        <div class="item-list">
          <div v-for="(item, i) of items" :key="`item-${i}`" class="item">
            <span class="item-index">{{ i }}</span>
            <span class="item-label">{{ item.label }}</span>
            <span class="item-value">{{ item.value }}</span>
            <span :class="item.value > 0.5 ? 'item-tag-success' : 'item-tag-failure'">
              {{ item.value > 0.5 ? 'Success' : 'Failure' }}
            </span>
          </div>
        </div>
      </div>
    </load-over>
  </main>
</template>

<script>
import LoadOver from '@/components/LoadOver';

import Labels from './labels';

export default {
  name: 'LoadOverExample',
  components: { LoadOver },
  data() {
    return {
      loading: true,
      items: []
    };
  },
  mounted() {
    this.generateItems();
  },
  methods: {
    clicked() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      this.generateItems();
    },
    async generateItems() {
      this.items.splice(0);
      const itemCount = Math.floor(Math.random() * 15) + 5;
      for (let i = 0; i < itemCount; i++) {
        this.items.push({ label: Labels[Math.floor(Math.random() * Labels.length)], value: Math.random() });
        await new Promise(resolve => setInterval(resolve, Math.random() * 500));
      }
      this.loading = false;
    }
  }
};
</script>

<style lang="scss">
body {
  font-family: Avenir, 'Avenir Next', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  padding: 20px;

  background-color: rgb(253, 252, 247);
}

.items {
  height: 600px;
  overflow-y: scroll;
  margin: 6px 0;
  padding: 3px;
}

.item-list {
  border-radius: 10px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
}

.item {
  width: 100%;

  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: stretch;
  align-items: baseline;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  span {
    padding: 4px;

    &.item-index {
      width: 60px;
    }

    &.item-label,
    &.item-value {
      width: 300px;
    }

    &.item-tag {
      margin: 2px;
      padding: 4px 12px;
      border-radius: 50vh 50vh;
      width: 60px;
      text-align: center;

      &-success {
        @extend .item-tag;
        background-color: rgb(55, 180, 36);
      }
      &-failure {
        @extend .item-tag;
        background-color: rgb(226, 30, 30);
      }
    }
  }
}
</style>
