<script>
import Spinner from './Spinner';

export default {
  name: 'LoadInto',
  components: {
    Spinner
  },
  props: {
    loading: {
      type: Boolean,
      default: true
    }
  },
  render(createElement) {
    let slotElement = this.$slots.default[0];
    slotElement = createElement(
      slotElement.tag,
      { ...slotElement.data, class: { 'loadinto-container': true, 'loadinto-loading': this.loading } },
      slotElement.children
    );
    if (this.loading) {
      const loaderElement = createElement('div', { class: 'loadinto-content' }, [createElement(Spinner)]);
      slotElement.children.unshift(loaderElement);
    }
    return slotElement;
  }
};
</script>

<style scoped>
.loadinto-container {
  position: relative;
}
.loadinto-container.loadinto-loading {
  color: rgba(0, 0, 0, 0);
}
.loadinto-container.loadinto-loading > *:not(.loadinto-content) {
  visibility: hidden;
}
.loadinto-content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
