<template>
  <div class="loadover-container">
    <div v-if="loading" class="loadover-overlay"><spinner></spinner></div>
    <slot></slot>
  </div>
</template>

<script>
import Spinner from './Spinner';

export default {
  name: 'LoadOver',
  components: {
    Spinner
  },
  props: {
    loading: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style scoped>
.loadover-container {
  position: relative;
  box-sizing: border-box;
}

.loadover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
}
</style>
