<template>
  <spinner-svg></spinner-svg>
</template>

<script>
import SpinnerSvg from '@/assets/spinner.svg';

export default {
  name: 'Spinner',
  components: {
    SpinnerSvg
  }
};
</script>

<style scoped>
@keyframes step-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  width: min(64px, 100%);
  height: min(64px, 100%);

  animation: step-spin 1s steps(8, end) infinite;
}
</style>
