<template>
  <main>
    <load-into :loading="loading">
      <div class="loading-button" @click.prevent="clicked">
        Click me
      </div>
    </load-into>
  </main>
</template>

<script>
import LoadInto from '@/components/LoadInto';

export default {
  name: 'LoadIntoExample',
  components: { LoadInto },
  data() {
    return {
      loading: false
    };
  },
  methods: {
    clicked() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      setTimeout(() => (this.loading = false), 2000);
    }
  }
};
</script>

<style lang="scss">
main {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(253, 252, 247);
}

.loading-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 100px;
  border-radius: 20px;

  transition: background-color 0.25s ease;
  background-color: rgb(120, 180, 240);
  box-shadow: 0 4px 1px rgb(56, 85, 114);

  font-family: Avenir, 'Avenir Next', sans-serif;

  cursor: pointer;

  &:hover {
    background-color: rgb(132, 186, 240);
  }
  &:active {
    box-shadow: none;
    transform: translateY(4px);
  }

  &.loading {
    cursor: default;
    background-color: rgb(132, 186, 240);
    box-shadow: none;
    transform: translateY(4px);
  }
}
</style>
